header{
    display: flex;
    height: 50px;
    border: 1px red solid;
    justify-content: space-between;
}
nav{
    border:1px blue solid;
    display: inline;
    align-items: center;

}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
li{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px purple solid;

}